*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  
}

h2 {
  font-size: large;
  color: black;
  margin: 3px 5px 7px;
}

p {
  font-size: small;
  color: black;
  margin: 7px;
}
span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
  font-size: medium;
}

img {
  margin: 20px 5px;
}

.nav ul li {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: 800;
  width: 450px;
  text-align: center;
  padding: 15px;
  border: 1px solid grey;
  position: relative;
  left: 30px;
}

.nav ul li a {
  color: grey;
  padding: 10px;

}
.nav ul :hover {
  color: white;
  background-color: grey;

}


.banner {
  font-family: helvetica;
  font-size: 50px;
  background-image: url(../image/pattern.webp);
  font-weight: bold;
  color: khaki;
  text-align: center;
  margin: 40px 5px;
  box-sizing: content-box;
  border: none
}

.background-image {
  opacity: 50%;
  width: 1000px;
  height: 100px;
}

section {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
section header {
  background-color: #8c6b48;
}

#Frames header {
  background-color: lightcoral;
}

#Paint header {
  background-color: skyblue;
}




.container {
  }


table {
    text-align: center;
    margin: 0 auto;
    height: 50%;
    width: 70%;
  }


  th {
    border: 1px solid #8c6b48;
  }

  td {
    border: 1px solid #8c6b48;
    width: 300px;
  }

  .left {
    width: 30%;
  }

  tfoot {
    border: 1px solid #8c6b48;
    size: 30px;
  }
  